<div class="main-nav">
    <nav>
        <section class="topbanner-field">
            <ul class="topbanner-searcher">
                <li class="searcher-li">
                    <form [formGroup]="searchForm">
                        <div class="search-row">
                            <label>Поиск данных о еде (Вводить строго на английском):
                                <input matInput type="text" formControlName="product" placeholder="Search for any food...">
                            </label>
                            <label>Поиск данных по категории (Ввод строго на английском)
                                <input matInput type="text" formControlName="category" placeholder="Search food category...">
                            </label>
                        </div>
                    </form>
                </li>
            </ul>
        </section>
        <ul class="other-links">
            <li>
                <a class="link-two"><button type="button" (click)="siteInfo()">Информация (О сайте...)</button></a>
            </li>
            <li>
                <a class="link-three">Источник (https://github.com/andyklimczak/TheReportOfTheWeek-API)</a>
            </li>
        </ul>
    </nav>
</div>
