<footer class="fakeFood-footer">
    <div class="fakeFood-lowContainer">
        "Сделан с помощью:"
        <a href="https://openfoodfacts.github.io/openfoodfacts-server/api/#reference-documentation-openapi" target="_blank">Материал из источника</a>
        <section class="author">
            <h3>FoodParser - Парсер данных из отдельного .json файла</h3>
            <p>Подготовил: Максим Витальевич; Дата начала: 27.08.2025; &copy; Все источники принадлежат изначальным правообладателям!</p>
            <p>Примечание: Работает на выделенном сервере!</p>
        </section>
    </div>
</footer>
