<div class="topbar-banner">
    <div class="banner-container">
        <nav class="topbanner-nav">
            <ul class="banner-title">
                <li class="banner-name">
                    <div>
                        <a href="/">
                            <img id="logo" src="/assets/FoodBanner.jfif" alt="Food Data Image">
                        </a>
                    </div>
                </li>
                <li>
                    <h2>В данном проекте FoodParser, в наличии:</h2>
                    <p><b>Репозитории данных:</b> +1000 категории!</p>
                    <p><b>Формат работы:</b> Четкий вывод структурированных данных!</p>
                    <p><b>Выделенный сервер с нуля?:</b> Да!</p>
                    <p><b>Фейковый API URL?:</b> Имеется!</p>
                </li>
            </ul>
        </nav>
    </div>
</div>
